$primary: #060C14;
$secondary: white;
$background: #6afab0;
$primaryLight: #1E334F;
$hover: #5F8CC7;
$error: #fe7866;

$font: 'YS Text', Roboto, Helvetica, Arial, sans-serif;
$titleFont: 'Garamond', sans-serif;
$fontMono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$baseFontSize: 20px;
$baseFontColor: white;

$category1: #13fb45;
$category2: #ffd13c;
$category3: #72c2ff;
$category4: #f488e7;
$category5: #f87e7e;

$mainFontSize: 1.5em;
$titleFontSize: 2.5em;
$headerElementsSize: 4rem;
$headerHeight: 9rem;

$maxPageWidth: 1320px;
$defaultPadding: 2.4rem;

$defaultBorderRadius: 3rem;
$defaultBorder: 2px solid $primaryLight;
$hoverBorder: 2px solid rgb(0, 255, 34);
$overlayBackground: rgba(0, 0, 0, 0.8);
